{% extends "registeredLayout.html" %}

{% block body %}
<h1>מחוברים כרגע לאתר:</h1>

<div class="row">
{% for user in currently_online %}
    <div class="column" style="background-color:#fff;">
        <div class="wrapper">
            <a class="fifth before after" href="/profile?username={{user}}">{{user}}</a>
        </div>
  </div>
{% endfor %}
</div>

<style>
* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column  {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column  {
    width: 100%;
  }
}
</style>


<style>
       @import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    right: 150px;
}
h1:before{
  content: "// ";
}
a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:#81b3d2;
	font-size:2.5em;
}
a:hover{
	color:#d73444;
}
a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.after:after{
  bottom:-0.25em;
}
a.before:before,a.after:after{
  height:5px;
  height:0.35rem;
  width:0;
  background:#d73444;
}

a.fifth:before,a.fifth:after{
  right:0;
}
a.before:hover:before,a.after:hover:after{
  width:100%;
}
</style>

{% endblock %}