{% extends "registeredLayout.html" %}

{% block head %}
<h1>Edit your Profile !</h1>
{% endblock %}

{% block body %}
<form action="profileEditingDone" method="post">

<h2>Choose your strong subjects:</h2>
{% for subject in subjects %}
    <input type="checkbox" name="strong_{{subject}}" id="strong_{{subject}}" onclick="checkboxOnClick('strong_{{subject}}_class_')"><font size="6">{{subject}}</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="checkbox"
           name="strong_{{subject}}_class_10"
           id="strong_{{subject}}_class_10"><font size="5">Yod</font>
    <script>document.getElementById("strong_{{subject}}_class_10").disabled=true</script>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <input type="checkbox"
           name="strong_{{subject}}_class_11"
           id="strong_{{subject}}_class_11"><font size="5">Yod Alef</font>
    <script>document.getElementById("strong_{{subject}}_class_11").disabled=true</script>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <input type="checkbox"
           name="strong_{{subject}}_class_12"
           id="strong_{{subject}}_class_12"><font size="5">Yod Bet</font>
    <script>document.getElementById("strong_{{subject}}_class_12").disabled=true</script>

    <br><br>

    <script>
        function checkboxOnClick(checkboxId){
            for (var i = 10; i < 13; i++){
                document.getElementById(checkboxId+i.toString()).disabled = !document.getElementById(checkboxId+i.toString()).disabled
            }
        }
    </script>

{% endfor %}

<h2>Choose your weak subjects:</h2>
{% for subject in subjects %}
    <input type="checkbox" name="weak_{{subject}}" id="weak_{{subject}}"><font size="6">{{subject}}</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="checkbox"
           name="weak_{{subject}}_class_10"
           id="weak_{{subject}}_class_10"><font size="5">Yod</font>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="checkbox"
           name="weak_{{subject}}_class_11"
           id="weak_{{subject}}_class_11"><font size="5">Yod Alef</font>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="checkbox"
           name="weak_{{subject}}_class_12"
           id="weak_{{subject}}_class_12"><font size="5">Yod Bet</font>

    <br><br>

{% endfor %}

<button type="submit" class="btn btn-primary"><font color="blue">Finish editing</font></button>
</form>


{% endblock %}