{% extends "registeredLayout.html" %}


{% block body %}
<h1>עריכת פרופיל</h1>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<form action="profileEditingDone" method="post">


    <h2>במה תוכלו לעזור לתלמידים אחרים?</h2>
{% for subject in subjects %}
    <font size="5">{{subject[0]}}</font><br>
    {% for space in range(7-subject[0]|length) %}
        &nbsp;
    {% endfor %}
    {% for class in subject[1] %}
        {# if subject[1].index(class) != 0 #}
            {% for space in range(subject[0]|length+3) %}
                &nbsp;
            {% endfor %}
        {# endif #}
        <input type="checkbox"  name="strong_{{subject[0]}}_{{class}}" id="strong_{{subject[0]}}_{{class}}" >{{class}}
        {% for strong_sub in selected_strong_subjects %}
            {% if strong_sub.name == subject[0] %}
                {% if class in strong_sub.classes%}
                 <script>document.getElementById("strong_{{subject[0]}}_{{class}}").checked=true</script>
                {% endif %}
            {% endif%}
        {%endfor%}
        <br>
    {% endfor %}
    <br>
{% endfor %}



<h2>במה לא יזיק לכם תגבור קטן? :)</h2>
{% for subject in subjects %}
    <font size="5">{{subject[0]}}</font><br>
    {% for space in range(7-subject[0]|length) %}
        &nbsp;
    {% endfor %}
    {% for class in subject[1] %}
        {# if subject[1].index(class) != 0 #}
            {% for space in range(subject[0]|length+3) %}
                &nbsp;
            {% endfor %}
        {# endif #}
        <input type="checkbox"  name="weak_{{subject[0]}}_{{class}}" id="weak_{{subject[0]}}_{{class}}">{{class}}
        {% for weak_sub in selected_weak_subjects %}
            {% if weak_sub.name == subject[0] %}
                {% if class in weak_sub.classes%}
                 <script>document.getElementById("weak_{{subject[0]}}_{{class}}").checked=true</script>
                {% endif %}
            {% endif%}
        {%endfor%}
        <br>
    {% endfor %}
    <br>
{% endfor %}



<button type="submit" class="stylish"><font size="5"><b>שמור</b></font></button>
</form>
<br>
<!--<form action="goBack()">-->
<button onclick="window.history.back();" class="stylish"><font size="5"><b>ביטול</b></font></button>
<!--</form>-->


<style>
.stylish {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #ddd;
  color: black;
}
</style>

{% endblock %}


