{% extends "registeredLayout.html" %}

{% block head %}
<h1>Edit your Profile !</h1>
{% endblock %}

{% block body %}
<form action="profileEditingDone" method="post">



    <h2>במה תוכלו לעזור לתלמידים אחרים?</h2>
{% for subject in subjects %}
    <font size="5">{{subject[0]}}</font>
    {% for space in range(7-subject[0]|length) %}
        &nbsp;
    {% endfor %}
    {% for class in subject[1] %}
        {% if subject[1].index(class) != 0 %}
            {% for space in range(subject[0]|length+3) %}
                &nbsp;
            {% endfor %}
        {% endif %}
        <input type="checkbox" name="strong_{{subject[0]}}_{{class}}" id="strong_{{subject[0]}}_{{class}}" >{{class}}
        {% for strong_sub in selected_strong_subjects %}
            {% if strong_sub.name == subject[0] %}
    <font color="blue">{{strong_sub.classes}}</font>
                {% if class in strong_sub.classes%}
                 <script>document.getElementById("strong_{{subject[0]}}_{{class}}").checked=true</script>
                {% endif %}
            {% endif%}
        {%endfor%}
        <br>
    {% endfor %}
    <br>
{% endfor %}



<h2>במה לא יזיק לכם תגבור קטן? :)</h2>
{% for subject in subjects %}
    <font size="5">{{subject[0]}}</font>
    {% for space in range(7-subject[0]|length) %}
        &nbsp;
    {% endfor %}
    {% for class in subject[1] %}
        {% if subject[1].index(class) != 0 %}
            {% for space in range(subject[0]|length+3) %}
                &nbsp;
            {% endfor %}
        {% endif %}
        <input type="checkbox" name="weak_{{subject[0]}}_{{class}}" id="weak_{{subject[0]}}_{{class}}">{{class}}
        {% for weak_sub in selected_weak_subjects %}
            {% if weak_sub.name == subject[0] %}
                {% if class in weak_sub.classes%}
                 <script>document.getElementById("weak_{{subject[0]}}_{{class}}").checked=true</script>
                {% endif %}
            {% endif%}
        {%endfor%}
        <br>
    {% endfor %}
    <br>
{% endfor %}



<button type="submit" class="btn btn-primary"><font color="blue">שמור</font></button>
</form>

<!--<form action="goBack()">-->
<button onclick="window.history.back();" class="btn btn-primary"><font color="blue">ביטול</font></button>
<!--</form>-->


{% endblock %}