<!--This is the home page from registered users-->
{% extends "registeredLayout.html" %}


{% block head %}
<title>Home Page</title>
{% endblock %}


{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1 style="text-align: center;">ברוכ/ה הבא/ה, {{session.user}}</h1>

<button type="submit" class="button" style="position: relative; vertical-align:middle; right:35%;" onclick="location.href='/potential_teachers'"><span> אני זקוק/ה לתגבור - מצא לי שיעור <i class="fa fa-graduation-cap" aria-hidden="true"></i></span></button>
<button type="submit" class="button" style="position: relative; vertical-align:middle; top:100px; right: 4.5%;" onclick="location.href='/potential_students'"><span>אני רוצה ללמד - מצא לי שיעור <i class="fa fa-graduation-cap" aria-hidden="true"></i></span></button>
<button type="submit" class="button" style="position: relative; vertical-align:middle; width: 60%; top:150px; right:35%;" onclick="location.href='/inbox'"><span>Inbox <i class="fa fa-envelope" aria-hidden="true"></i></span></button>
<button type="submit" class="button" style="position: relative; vertical-align:middle; width: 60%; top:100px; right:35%;" onclick="location.href='/forum_homepage'"><span>פורום <i class="fa fa-comments"></i></span></button>

<button type="submit" class="button" style="position: relative; width: 250px; height: 170px;  bottom:145px; left:50%;" onclick="location.href='/potential_students'"><span>השיעורים שלי</span></button>
<button type="submit" class="button" style="position: relative; width: 250px; height: 170px;  top:50px; left:70%;" onclick="location.href='/potential_students'"><span>הפרופיל שלי</span></button>


<!--<div style="padding-right: 40px;">-->
<!--    <h1>דף הבית</h1>-->
<!--    <h2>לחצו על לחצן ה &#9776;</h2>-->
<!--</div>-->


<!----------------------------------------->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    {% if home_page_notes %}
            <h2>התראות</h2>
    {% else %}
      <h2>אין התראות חדשות</h2>
      {% endif %}
    {% for note in home_page_notes %}
        <a href="{{note['link']}}">{{note['topic']}}</a>
        <br><br>
    {% endfor %}
  </div>

</div>
<!------------------------------------------------------>



<style>
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: DodgerBlue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
</style>
<style>
    /* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  left: -80px;
  top: 140px;
  width: 50%; /* Full width */
  height: 100%; /* Full height */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  word-wrap:break-word;
   max-height: 180px;
  overflow: auto; /* Enable scroll if needed */
  overflow-y: auto;

}
</style>

{% endblock %}


