{% extends "registeredLayout.html" %}

{%block body%}

<h1>Inbox</h1>
<button class="button button1" onclick="location.href='/messages'">
    <div class="inbox_badge" data-badge="{{session.new_messages}}">תיבת הודעות</div>
</button>
<button class="button button1" onclick="location.href='/notifications'">חדשות ממנהלי המערכת</button>
<button class="button button1" onclick="location.href='/friend_requests'">
        <div class="inbox_badge" data-badge="{{session.new_friend_requests}}">בקשות חברות</div>
</button>
<button class="button button1" onclick="location.href='/view_lessons_offers'">
    <div class="inbox_badge" data-badge="{{session.new_lessons_offers}}">הצעות שיעורים פרטיים</div>
</button>




<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button1:hover {
  background-color: #008CBA;
  color: white;
}

</style>

{%endblock%}
