{% extends "registeredLayout.html" %}

{%block body%}

<br><br><br>

<button class="button button1" onclick="location.href='/messages'">
    <div class="badge1" data-badge="{{session.new_messages}}">תיבת הודעות</div>
</button>
<button class="button button1" onclick="location.href='/notifications'">חדשות ממנהלי המערכת</button>
<button class="button button1" onclick="location.href='/friend_requests'">
        <div class="badge1" data-badge="{{session.new_friend_requests}}">בקשות חברות</div>
</button>
<button class="button button1" onclick="location.href='/view_lessons_offers'">
    <div class="badge1" data-badge="{{session.new_lessons_offers}}">הצעות שיעורים פרטיים</div>
</button>

{%endblock%}


<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button1:hover {
  background-color: #008CBA;
  color: white;
}
.badge1 {
   position:relative;
}
.badge1[data-badge]:after {
   content:attr(data-badge);
   position:relative;
   top:-20px;
   right:-10px;
   font-size:2em;
   background:green;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}
.badge1[data-badge=”0”]:after {
content: none;
}
</style>
