<!--This is the home page from guests-->
{% extends "guestLayout.html" %}

{% block head %}
<title>Syeto דף הבית</title>
{% endblock %}


{% block body %}
<h1 style="position: absolute; font-size: 180px; right: 300px; top: 40px;"><font color="#B22222">SYETO</font></h1>
<h1 style="position: absolute; font-size: 80px; right: 220px; top: 320px;"><font color="B22222">תלמידים מלמדים תלמידים</font></h1>
<div class="main" id="upper_home_page">
  <a href="#about_section" class="action-button shadow animate blue" style="position: absolute; left: 450px; top: 500px;"><font color="white">מידע</font></a>
  <br><br>
  <a href="/register" class="action-button shadow animate blue" style="position: relative; left: 150px; top: 380px;">הירשם</a>
  <a href="/loginPage" class="action-button shadow animate blue" style="position: relative; left: 200px; top: 380px;">התחבר</a>
</div>


<div class="bg"></div>

<div class="main" id="about_section">
    <br><br><br><br><br><br><br><br><br>
    <h1>מה זה Syeto?</h1>
    <p>כאן יהיה הסבר על סייטו</p>
    <h1>מי אנחנו?</h1>
    <p>חבורה של בני נוער, מי אתה?</p>
    <button onclick="document.documentElement.scrollTop = 0;">  חזור למעלה &#8679;&#8679;&#8679; </button>
</div>

<div class="main" id="contact">
<!--    <br><br>-->
    <h1>צור קשר</h1>
    <p>שלחו מייל וכאלה: <a href="mailto:syeto2020@gmail.com">syeto2020@gmail.com</a></p>
    <p>עקבו אחרינו באינסטגרם: <a href="https://www.instagram.com/syeto_2020?r=nametag">https://www.instagram.com/syeto_2020?r=nametag</a></p>
    <button onclick="document.documentElement.scrollTop = 0;">  חזור למעלה &#8679;&#8679;&#8679; </button>
    <br><br><br><br><br><br><br>
</div>


<!--Styles-->

<style>
html {
  scroll-behavior: smooth;
}

#upper_home_page {
  height: 0px;
  background-color: white;
}

#about_section {
  height: 710px;
  background-color: ;
}
</style>

<style>
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("https://mail.google.com/mail/u/0?ui=2&ik=ae5bb7a53c&attid=0.1&permmsgid=msg-a:r-7578816009834222470&th=1718357783464327&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ-Yf4vxDYNvECOGz8Gxf51k-_D3iKe56re6Blm2LhrX1hh6uh4QoanNrfu-a904lI885SHSr1fPL4yqaE6180fiNw2rSyxwNH6vPH3ClpnVZklesNzvjBeimsg&disp=emb&realattid=ii_k92uhuj10");

  /* Full height */
  height: 80%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>


{% endblock %}


