<!--This is the home page from guests-->
{% extends "guestLayout.html" %}

{% block head %}
<title>Home Page</title>
{% endblock %}


{% block body %}
<!--<form action="/login">-->
    <h1>ברוכים הבאים לSyeto!</h1>
<img src="https://mail.google.com/mail/u/0?ui=2&ik=ae5bb7a53c&attid=0.1&permmsgid=msg-a:r-3548007626695057494&th=17117fccd472a9ca&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ87Vw9TT3Sd7Aqb1F0iXhvVChamqbJqgrXDLs9DxeRZ-t68CuYOueMopyZRnXj6FyjCXB1tY0FmWv6sLnHS5cY3m66FtYVL_jRm6iKqISUd5nXuXGF-q_N0fcU&disp=emb&realattid=ii_k8925r700" alt="הסבר על שלב הפיילוט - חלק א">
<img src="https://mail.google.com/mail/u/0?ui=2&ik=ae5bb7a53c&attid=0.2&permmsgid=msg-a:r-3548007626695057494&th=17117fccd472a9ca&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_ijbD0GhL2p3XXT7N-rdE3oiZ9o1OIM54jSl03h-oZKeTFg3IdfRgZNdkUD2xm2BcVoPhRLPqyTV6z4pN1qBLFuZ7yKajvJH3ePNP2u9JD_00n1LVsm2DXz38&disp=emb&realattid=ii_k8922w4r1" alt="הסבר על שלב הפיילוט - חלק ב">

    <!--<button type="submit" class="btn btn-primary">Sign In!</button>-->
<!--</form>-->
{% endblock %}


