<!--This is the home page from guests-->
{% extends "guestLayout.html" %}

{% block head %}
<title>Home Page</title>
{% endblock %}


{% block body %}

<div class="main" id="upper_home_page">
  <a href="#about_section" class="action-button shadow animate blue" style="position: absolute; left: 450px; top: 450px;">מידע</a>
  <br><br>
  <a href="/register" class="action-button shadow animate blue" style="position: relative; left: 180px; top: 350px;">הירשם</a>
  <a href="/loginPage" class="action-button shadow animate blue" style="position: relative; left: 230px; top: 350px;">התחבר</a>
</div>


<div class="bg"></div>

<div class="main" id="about_section">
    <br><br><br><br><br><br><br><br><br>
    <h1>מה זה Syeto?</h1>
    <p>כאן יהיה הסבר על סייטו</p>
    <h1>מי אנחנו?</h1>
    <p>חבורה של בני נוער, מי אתה?</p>
    <a href="#upper_home_page">  חזור למעלה &#8679;&#8679;&#8679; </a>
</div>


<!--Styles-->

<style>
html {
  scroll-behavior: smooth;
}

#upper_home_page {
  height: 0px;
  background-color: white;
}

#about_section {
  height: 710px;
  background-color: ;
}
</style>

<style>
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("https://mail.google.com/mail/u/0?ui=2&ik=ae5bb7a53c&attid=0.1&permmsgid=msg-a:r2221462424643645452&th=171787cad8f24b99&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ-IDdgwmA8rYNL1emYlfPtas1NtdZVnx5OqZ74jhZTj1W9MMAWhlUtyC6D_UoQk42LJNSRAItDK-RpQDMHn1ytfBQzs23lSe8IfsjpsW6mTxaEqqoqgNcEG9Fs&disp=emb&realattid=ii_k8zu2mvr0");

  /* Full height */
  height: 80%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

  <style>
    body
{
	padding: 0px;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: var(position);
	left: var(left);
    top: var(top);
	padding: 10px 220px;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
  </style>
{% endblock %}


