{% extends "registeredLayout.html" %}

{% block body %}
<br><br><br>

<form action="/process_lesson_request/{{username}}/{{Im_the_teacher}}" method="post">


באיזה נושא יהיה השיעור?
<select id="subjects_list" name="subjects_list">
{% for subject in subjects_list %}
    {% for class in subject.classes %}
          {% if selected_subject == subject.name+' - '+class %}
              {% set selected = "selected" %}
          {% else %}
              {% set selected = "" %}
          {% endif %}

            <option value="{{subject.name}} - {{class}}" id={{subject}} {{selected}}>{{subject.name}} - {{class}}</option>
    {% endfor %}
{% endfor %}
</select>

    <br><br>
באיזו דרך תרצה לנהל את השיעור?
<select id="platforms_list" name='platforms_list'>
{% for platform in platforms %}
  {% if selected_platform == platform %}
      {% set selected = "selected" %}
  {% else %}
      {% set selected = "" %}
  {% endif %}
  <option value={{platform}} id={{platform}} {{selected}}>{{platform}}</option>
{% endfor %}
</select>
    <br>   <font color="blue"> הערה לשלב האב-טיפוס: כרגע אפשר דרך Zoom, לתיאום שיעור בפלטפורמה אחרת - תאמו ביניכם :)</font>


<br><br>

בחר תאריך לשיעור
<select id="dates_list" name='dates'>
{% for date in dates %}
  {% if selected_date == date %}
      {% set selected = "selected" %}
  {% else %}
      {% set selected = "" %}
  {% endif %}

  <option value={{date}} id={{date}} {{selected}}>{{date}}</option>
{% endfor %}
</select>

<br><br>

בחר טווח שעות לשיעור - מ:
<select id="from_time_list" name='from_time_list'>
{% for timeA in timesA %}
    {% if selected_timeA == timeA %}
      {% set selected = "selected" %}
  {% else %}
      {% set selected = "" %}
  {% endif %}

  <option value={{timeA}} id={{timeA}} {{selected}}>{{timeA}}</option>
{% endfor %}
</select>

    עד:
<select id="until_time_list" name='until_time_list'>
{% for timeB in timesB %}
    {% if selected_timeB == timeB %}
      {% set selected = "selected" %}
  {% else %}
      {% set selected = "" %}
  {% endif %}

  <option value={{timeB}} id={{timeB}} {{selected}}>{{timeB}}</option>
{% endfor %}
</select>
  <br><br>
  <input type="text" name="free_text" size="50" placeholder="טקסט חופשי (הודעה קצרה וכו')" value={{free_text}}>

   <h3><font color="red">{{error_msg}}</font></h3>

    {% if Im_the_teacher=="True" %}
        <h2><font color="green">שימ/י לב 3> :  מאחר ואת/ה המלמד בשיעור זה, <br>תצטרכ/י לשלוח למשתמש הלומד הודעה עם קישור לשיחת Zoom כמה דקות לפני תחילת השיעור (באמצעות שליחת הודעה לתיבת ההודעות).</font></h2>
    {% else %}
        <h2><font color="green">שימ/י לב 3> :  במידה שהשיעור יאושר על ידי המשתמש השני,<br> הוא יונחה לשלוח לך קישור לשיחת Zoom כחמש דקות לפני השיעור. בדוק/בדקי את תיבת ההודעות לפני השיעור.</font></h2>
    {% endif %}
  <input type="submit">

</form>



<br><br>

{% endblock %}
