<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--<form action="/homePage" method="post">-->
                <button type="submit" class="btn btn-primary" onclick="location.href='/homePage'"><font color="blue">HOME</font></button>
        <!--</form>-->
        <!--<br>-->
        <!--<form action="/logout" method="post">-->
                <button type="submit" class="btn btn-primary" onclick="location.href='/logout'"><font color="blue">Log Out</font></button>
        <!--</form>-->
        <!--<br>-->
        <!--<form action="/profile" method="post">-->
                <button type="submit" class="btn btn-primary" onclick="location.href='/profile'"><font color="blue">Profile</font></button>
        <!--</form>-->
        <!--<br>-->
        <!--<form action="/potentialTeachers" method="post">-->
                <button type="submit" class="btn btn-primary" onclick="location.href='/potentialTeachers'"><font color="blue">Find Teachers</font></button>
        <!--</form>-->
        <!--<br>-->
         <!--<form action="/inbox" method="post">-->
                <button type="submit" class="btn btn-primary" onclick="location.href='/inbox'"><font color="blue">Inbox</font></button>
        <!--</form>-->
        <!--<br>-->
        <input type="text" id="searchTextBox" onclick="deleteTbText()" placeholder="Search Profiles" >
        <button  onclick="pageTransfer()">Search users' profiles</button>
        <script>
            function pageTransfer() {
              var username = (document.getElementById("searchTextBox").value);
              var staticURL = "http://localhost:5000/profile?username=";
              var newURL = (staticURL + username);
              location.href = newURL;
            }
         </script>



        <!--<form action="/about" method="post">-->
                <!--<button type="submit" class="btn btn-primary">About</button>-->
        <!--</form>-->
        {% block head%}{% endblock %}
    </head>
    <body>
        {% block body%}{% endblock %}
    </body>
</html>