{% extends "guestLayout.html" %}

{% block head %}
<title>שיחזור סיסמה</title>
{% endblock %}


{% block body %}
<div style="position: relative;top: 70px;">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  {% set input_class = "w3-input" %}
  <h1>שחזור סיסמה</h1><br>

  {% set continueLink = "/password_reset_done/" + secret_key %}
  <form action="{{continueLink}}" method="post">
    <input name="pwd" class="{{input_class}}" type="text" placeholder="סיסמה חדשה"><br><br>
    <input name="pwd_conf" class="{{input_class}}" type="text" placeholder="סיסמה חדשה בשנית"><br>
      <small style="color:red">{{error_msg}}</small><br>

  <input type="submit" class="w3-button w3-block w3-teal" value="היכנס">

  <!--  <input type="submit" >-->
  </form>
  </div>


{% endblock %}


