{% extends "registeredLayout.html" %}

{% block body %}

<h1>פורום: {{forum_name}}</h1>

<button class="block" onclick="location.href='/forum/{{forum_name}}/create_post'"><font size="5"><b>כתוב פוסט חדש</b></font></button><br>
<br><br><br>

{% for post in posts %}
<!--    <button class="block" onclick="location.href='/post/{{post.post_ID}}'"><b>By:</b> {{post.narrator}}         <b>topic:</b> {{post.topic}}     <b>date:</b> {{post.date}}</button><br>-->
    <button class="block" onclick="location.href='/post/{{post.post_ID}}'">
        <b>מאת:</b> {{post.narrator}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>נושא:</b>{{post.topic}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <font size="2">{{post.date}}</font>
    </button>
<br>
{% endfor %}


<style>
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #ddd;
  color: black;
}
</style>

{% endblock %}