{% extends "registeredLayout.html" %}

{% block head %}
    <title>{{user.name}}</title>
{% endblock %}

{% block body %}
{{self_username}}
{{username2}}
<script>console.log({{self_username|tojson}})</script>
<br><br><br>
<button  onclick="changeURL('{{self_username}}','{{username2}}  ')"/>Start chat!</button>
<button  onclick="location.href='/report_user?username={{user.name}}'"/>Report user</button>

{% if is_friend %}
<!--It means that the user is NOT a friend already-->
    {% if friend_request_sent_already %}
        <button  onclick="location.href='/cancel_friend_request?username={{user.name}}'"/>Cancel friend request</button>
    {% else %}
        <button  onclick="location.href='/send_friend_request?username={{user.name}}'"/>Send friend request</button>
    {%endif%}
{% else %}
<!--It means that the user is INDEED a friend already-->
    <button  onclick="location.href='/remove_from_friends_list?username={{user.name}}'"/>Remove from friends_list</button>
{% endif %}
<!--<button  onclick="changeURL('+{{self_username|tojson}},{{username2|tojson}})"/>Start chat!</button>-->
<script>
    function changeURL(self_username, username2){
        location.href = "http://localhost:5000/typingChatRoom?self_username=" + self_username + "&username2=" + username2;
    }
</script>

    <button  onclick="location.href='/offer_lesson_location?username={{user.name}}'"/>Ask for a lesson</button>


<br>

    <h1><font color="magenta">{{user.name}}</font></h1>

    <h2><font color="green">Strong subjects:</font></h2>
    {% for subject in user.strong_subjects %}
        <h2>{{subject.name}} for: </h2>
        {% for class in subject.classes %}
            {{class}}th
        {% endfor %}
        grades.
        <br>
    {% endfor %}

    <h2><font color="orange">Weak subjects:</font></h2>
    {% for subject in user.weak_subjects %}
        <h2>{{subject.name}} for: </h2>
        {% for class in subject.classes %}
            {{class}}th
        {% endfor %}
        grades.
        <br>
    {% endfor %}


{% endblock %}