{% extends "registeredLayout.html" %}

{% block body %}

<h1>בקשות חברות</h1>
{% if users %}
נראה שיש פה הצעות חברות...
{% else %}
אין הצעות חברות חדשות
{% endif %}
<br><br>
{% for name in users %}
    {% if name %}
        <a href="/profile?username={{name}}"><font size="5"><b>{{name}}</b></font></a>
        <button onclick="location.href='/accept_friend_request?username={{name}}'">Accept</button>
        <button onclick="location.href='/deny_friend_request?username={{name}}'">Deny</button>

        <br>
    {%endif%}
{% endfor %}
{% endblock %}