{% extends "registeredLayout.html" %}

{%block body %}

{% if offer.teacher == session.user %}
        {% set desire = "רוצה ללמוד ממך" %}
    {% else %}
        {% set desire = "רוצה ללמד אותך" %}
{%endif%}

<h1>           <a href="/profile?username={{offer.from_user}}">{{offer.from_user}}</a>   {{desire}} <font color="green">{{offer.subject}}</font>
</h1>

<h2>{{offer.place}} - פלטפורמה</h2>
<!--<h3> {{platform_nickname}}  -  {{offer.place}}  כינוי ב  </h3>-->
<h2>{{offer.date}} - בתאריך</h2>
<h2>{{offer.time_range}} - בשעות</h2>

{% if offer.free_text %}
<br><br>
    <h2>...ונראה שהוא כתב לך משהו קטן</h2>
    <p>{{offer.free_text}}</p>
{% endif %}

<button onclick="location.href='/accept_lesson_offer/{{offer.ID}}'">סבבה נשמע טוב, קבענו!</button>
<button onclick="location.href='/deny_lesson_offer/{{offer.ID}}'">לא מתאים לי ממש</button>
{% endblock %}