{% extends "registeredLayout.html" %}

{% block body %}
<br><br>
{% if lessons_offers %}
    יש פה הצעות שמחכות לך...
{% else %}
    נראה שאין פה הצעות חדשות... חזור במועד מאוחר יותר.
{% endif %}
<br><br>
{% for offer in lessons_offers %}
    {% if offer.teacher == session.user %}
        {% set desire = "רוצה ללמוד ממך" %}
    {% else %}
        {% set desire = "רוצה ללמד אותך" %}
    {%endif%}
        <button class="stylish" onclick="location.href='/view_lessons_offers/single_offer/{{offer.ID}}'">
             <b>{{offer.from_user}}</b> {{desire}} <b>{{offer.subject}}</b>
        </button>
{% endfor %}



<style>
.stylish {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #ddd;
  color: black;
}
</style>

{% endblock %}