{% extends "registeredLayout.html" %}

{% block body %}
<br><br>
<font size="6"><b>{{post.topic}}</b></font>
{% if session.is_admin %}
<!--    <button onclick="location.href='/report_post/{{post_id}}'">נעל פוסט</button>-->
    <button onclick="location.href='/admin_options/delete_post/{{post_id}}'">מחק פוסט</button>
{% else %}
<button onclick="location.href='/report_post/{{post_id}}'">דיווח על פוסט פוגעני או בלתי הולם</button>
{% endif %}
<br><br>
מאת: {{post.narrator}}<br>
תאריך: {{post.date}}
<br><br>
<p style="width:500px;height:100px;border:1px solid #000;">{{post.content}}</p>

<br><br><br>
{% for comment in post.comments %}
    <div style="width:500px;height:200px;border:1px solid #000;">
        <h2>מאת: <font color="blue">{{comment.narrator}}</font></h2>
        תאריך: {{comment.date}}
        <h3>{{comment.content}}</h3>
    </div>
    <br>
{% endfor %}

<button type=button onClick="location.href='/post/write_comment/{{post_id}}'">הוסף תגובה</button>


{% endblock %}